// colors
$color-primary-black: #1d1d1d;
$color-primary-b: #34495E;
$color-primary-g: #41B883;
$color-primary-g-dark: #143828;
$color-primary-g-darker: #0e251c;
$color-primary-white: #fafafa;

// Typos
.typo-0h {
  font-size: 0.75rem;
  font-weight: 400;
}

.typo-1 {
  font-size: 1rem;
  font-weight: 400;
}

.typo-1h {
  font-size: 1.5rem;
  font-weight: 400;
}

.typo-2 {
  font-size: 2rem;
  font-weight: 400;
}

.typo-3 {
  font-size: 3rem;
  font-weight: 500;
}

.typo-4 {
  font-size: 4rem;
  font-weight: 600;
}

.typo-5 {
  font-size: 5rem;
  font-weight: 700;
}

.typo-6 {
  font-size: 6rem;
  font-weight: 700;
}

@media screen and (max-width: 560px) {
  .typo-0h {
    font-size: 0.75rem;
    font-weight: 400;
  }

  .typo-1 {
    font-size: 1rem;
    font-weight: 400;
  }

  .typo-1h {
    font-size: 1.25rem;
    font-weight: 400;
  }

  .typo-2 {
    font-size: 1rem;
    font-weight: 400;
  }

  .typo-3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .typo-4 {
    font-size: 2rem;
    font-weight: 600;
  }

  .typo-5 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .typo-6 {
    font-size: 3rem;
    font-weight: 700;
  }

}

@media screen and (min-width: 1280px) and (max-width: 4000px) {
  .typo-0h {
    font-size: 0.75rem;
    font-weight: 400;
  }

  .typo-1 {
    font-size: 1rem;
    font-weight: 400;
  }

  .typo-1h {
    font-size: 1.25rem;
    font-weight: 400;
  }

  .typo-2 {
    font-size: 2.5rem;
    font-weight: 400;
  }

  .typo-3 {
    font-size: 3.5rem;
    font-weight: 500;
  }

  .typo-4 {
    font-size: 5rem;
    font-weight: 600;
  }

  .typo-5 {
    font-size: 6rem;
    font-weight: 700;
  }

  .typo-6 {
    font-size: 8rem;
    font-weight: 700;
  }
}