

// variables 임시
$color-text-lighter: rgba(255, 255, 255, .92);
$color-text-normal: rgba(255, 255, 255, .87);
$color-text-darker: rgba(235, 235, 235, .6);

$vue-color-green: #42b883;
$vue-color-blue: #35495e;
$vue-background-color: #242424;

// 헤더
$header-height: 55px;

// 글 목록
$post-list-frame-width-min: 270px;
$post-list-frame-width: 24%;
$post-list-width: 240px;

// 포스팅 width
$post-width-max: 688px;
$post-width-min: 240px;
// 목차 width
$toc-width: 240px;

// media 트리거
$media-toc: 1280px;
$media-posts: 960px;
