
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');


.table-of-contents {
  position: absolute;
  right: 0;
  padding-right: 36px;
  width: 300px;
}
pre {
  background-color: #404040;
  padding: 8px;
  overflow-x: auto;
}
a {
  color: #42b883;
  font-weight: 700;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", 'Pretendard', 'Courier New', Courier, sans-serif, monospace;
}


// variables
$color-text-lighter: rgba(255, 255, 255, .92);
$color-text-normal: rgba(255, 255, 255, .87);
$color-text-darker: rgba(235, 235, 235, .6);

$vue-color-green: #42b883;
$vue-color-blue: #35495e;

