
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');


.table-of-contents {
  position: absolute;
  right: 0;
  padding-right: 36px;
  width: 300px;
}
pre {
  background-color: #404040;
  padding: 8px;
  overflow-x: auto;
}
a {
  color: #42b883;
  font-weight: 700;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  font-family: "Inter", 'Pretendard', 'Courier New', Courier, sans-serif, monospace;
}

:root {
  margin: 0;
  padding: 0;

  --typo-title-font-size: 4rem;
  --typo-h1-font-size: 2.5rem;
  --typo-h2-font-size: 2rem;
  --typo-h3-font-size: 1.75rem;
  --typo-h4-font-size: 1.5rem;
  --typo-h5-font-size: 1.25rem;
  --typo-h6-font-size: 1rem;
  --typo-body-font-size: 1rem;
  --typo-small-font-size: 0.875rem;
  --typo-tiny-font-size: 0.75rem;
  --typo-category-font-size: 1.5rem;
}

@media (max-width: 768px) {
  :root {
    --typo-title-font-size: 3rem;
    --typo-h1-font-size: 2rem;
    --typo-h2-font-size: 1.75rem;
    --typo-h3-font-size: 1.5rem;
    --typo-h4-font-size: 1.25rem;
    --typo-h5-font-size: 1rem;
    --typo-h6-font-size: 0.875rem;
    --typo-body-font-size: 0.875rem;
    --typo-small-font-size: 0.75rem;
    --typo-tiny-font-size: 0.625rem;
    --typo-category-font-size: 1.25rem;
  }
}

// variables
$color-text-lighter: rgba(255, 255, 255, .92);
$color-text-normal: rgba(255, 255, 255, .87);
$color-text-darker: rgba(235, 235, 235, .6);

$vue-color-green: #42b883;
$vue-color-blue: #35495e;

