
.table-of-contents {
  position: absolute;
  right: 0;
  padding-right: 36px;
  width: 300px;
}
pre {
  background-color: #404040;
  padding: 8px;
  overflow-x: auto;
}
a {
  color: #42b883;
  font-weight: 700;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}
